<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/united/bootstrap.min.css">

    <title>Placements4u | Welcome</title>
    <!--Auto Updation of tabele serial no-->
    <style>
        .css-serial {
            counter-reset: serial-number;
            /* Set the serial number counter to 0 */
        }
        
        .css-serial td:first-child:before {
            counter-increment: serial-number;
            /* Increment the serial number counter */
            content: counter(serial-number);
            /* Display the counter */
        }
        
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid #999;
            padding: 0.5rem;
            text-align: left;
        }
    </style>
</head>

<body>

    <button type="button" class="btn btn-primary btn-lg" style="background-color:#6ab8b8; border-color:#6ab8b8 ;"><a href="https://placements4u.github.io/Placement/index.html" style="color: white; text-decoration: none;">Home</a></button>
    <div class="container text-center">
        <h3 class="p-4">Welcome
            <font style="color: #6ab8b8;">
                <%= user.username %>
            </font>
        </h3>
        <br>
        <br>
        <table class="css-serial">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Company Name</th>
                    <th>Apply Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>SDE at Hotstar | Freshers | 2021 Batch</td>
                    <td><a href=" https://jobs.lever.co/hotstar/8bbd11e2-0bfc-41a8-9988-b2a5dbbd2bb5/?source=offcampusjobs4u.com" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Software Engineer 1 at Oracle | Freshers</td>
                    <td><a href=" https://eeho.fa.us2.oraclecloud.com/hcmUI/CandidateExperience/en/sites/CX_1/job/100894?src=JB-10145" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>SDET at S&P Global | Freshers</td>
                    <td><a href="https://careers.spglobal.com/jobs/260118?lang=en-us&utm_source=offcampusjobs4u.com" style="color: #6ab8b8;">Apply!</a>
                    </td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>SDE at Compliance Grp| Freshers</td>
                    <td><a href="https://complianceg.com/careers/ats?jobId=9BJ0gQ63Lczp&ft_source=offcampusjobs4u.com" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>ASW Engineer at Accenture | Freshers 2018,19,20 Batch</td>
                    <td><a href=" elitmus.com/jobs/32772-accenture-solutions-associate-software-engineer-bangalore-hyderabad-chennai-mumbai-pune-gurugram" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>SW Engineer at Sabre Corp| Freshers</td>
                    <td><a href="https://jobs.sabre.com/job/Bangalore-Associate-Software-Engineering-Karn/739682100/" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Trainee at CloudonHire| Freshers</td>
                    <td><a href="https://www.myamcat.com/jobs/description/software-trainee-job-for-fresher-in-cloudonhire-pvt-ltd-in-bengaluru/88361/?source=offcampus" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>SWE at Veeva System | 1+ yr EXP</td>
                    <td><a href=" https://jobs.lever.co/veeva/d0704c83-8c0f-4545-8a40-eb48bcfec299" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Programmer Analyst at Amazon | 13-15 LPA CTC | 2021 Batch | Freshers</td>
                    <td><a href="https://www.amazon.jobs/en-gb/jobs/1535827/programmer-analyst" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>SWE Engineer at CGI | Freshers</td>
                    <td><a href=" https://cgi.njoyn.com/cgi/xweb/xweb.asp?clid=21001&page=jobdetails&jobid=J0421-0620&BRID=813461&SBDID=20561&SBDID=20561" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Qualcomm | Freshers</td>
                    <td><a href="https://qualcomm.wd5.myworkdayjobs.com/en-US/External/job/Hyderabad/Modem-Software-Application-Engineer_3006560" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Associate at Thompson Reuters | Freshers</td>
                    <td><a href="https://thomsonreuters.wd5.myworkdayjobs.com/External_Career_Site/job/IND-Hyderabad-Raheja-Mindspace/Associate-Content-Specialist_JREQ143064" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>CrowdStrike | Freshers</td>
                    <td><a href="https://crowdstrike.wd5.myworkdayjobs.com/crowdstrikecareers/job/India---Remote-HR/Rust-Developer--Remote-_R2193" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Compliance Group | Freshers</td>
                    <td><a href="https://complianceg.com/careers/ats?jobId=H4G689I5f6pR&ft_source=2000186534&ft_medium=2000179624" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Analyst Trainee at NIELSEN | Freshers</td>
                    <td><a href="https://www.monsterindia.com/seeker/registration?spl=IN-Acq-Display_Direct-AD2C_4121-IT/BPO_Jan_21-Multiple-Banners/Text-Web+WAP-CPC&utm_campaign=IN_Acq_Display_Direct_IT/BPO_Multiple_Banners/Text&utm_medium=Display_Direct&utm_source=AD2C_4121-Jan_21-CPC&utm_content=Display_Direct_Banners/Text" style="color: #6ab8b8;">Apply!</a></td>
                </tr>

            </tbody>
        </table>
        <br>
        <a class="btn btn-danger" href="/logout" style="background-color: #6ab8b8; border-color: #6ab8b8;">Logout</a>

    </div>
    <br>
    <footer style="padding-top: 20em;">
        <p class="" style="background-color: black; color: white; text-align: center;">©
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>
            <a href="https://placements4u.github.io/Placement/index.html" style="text-decoration: none; color: #6ab8b8;">Placements4u </a>| All rights reserved<br> Designed and Developed by - <a href=" https://kishankr7979.github.io/portfolio/ " style="text-decoration: none; color: #6ab8b8;">Kishan</a>

        </p>
    </footer>
</body>

</html>