<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/united/bootstrap.min.css">

    <title>Placements4u | Welcome</title>
    <!--Auto Updation of tabele serial no-->
    <style>
        .css-serial {
            counter-reset: serial-number;
            /* Set the serial number counter to 0 */
        }
        
        .css-serial td:first-child:before {
            counter-increment: serial-number;
            /* Increment the serial number counter */
            content: counter(serial-number);
            /* Display the counter */
        }
        
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid #999;
            padding: 0.5rem;
            text-align: left;
        }
    </style>
</head>

<body>
    <button type="button" class="btn btn-primary btn-lg" style="background-color:#6ab8b8; border-color:#6ab8b8 ;"><a href="https://placements4u.github.io/Placement/index.html" style="color: white; text-decoration: none;">Home</a></button>
    <div class="container text-center">
        <h3 class="p-4">Welcome
            <font style="color: #6ab8b8;">
                <%= user.username %>
            </font>
        </h3>
        <br>
        <br>
        <table class="css-serial">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Company Name</th>
                    <th>Apply Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Hatio | Freshers | 3-6 LPA</td>
                    <td><a href=" https://www.myamcat.com/jobs/description/software-engineer-reactjavascript-job-for-fresher-in-hatio-in-kochi/86604/?source=offcampus" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Envesto | Freshers</td>
                    <td><a href=" https://www.linkedin.com/jobs/view/2415350959/" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Amazon | Freshers | Device Associate</td>
                    <td><a href=" https://www.amazon.jobs/en-gb/jobs/1402988/device-associate " style="color: #6ab8b8;">Apply!</a>
                    </td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Finastra | Freshers</td>
                    <td><a href="https://dh.wd3.myworkdayjobs.com/en-US/DHC/job/Bangalore/Associate-Software-Engineer_REQ0820_0016252" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Orange | Freshers</td>
                    <td><a href=" https://orange.jobs/jobs/offer.do?joid=98554" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Deloitte | Freshers</td>
                    <td><a href="https://jobs2.deloitte.com/ui/en/job/DELOA003XUSGLSINDIAE21HUANAKNSUPPENUI/" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Congizant | Freshers</td>
                    <td><a href="https://careers.cognizant.com/global/en/job/000412681812/Process-Executive-Data" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Insync | Freshers</td>
                    <td><a href=" https://www.myamcat.com/jobs/description/associate-business-development-it-job-for-fresher-in-insync-tech-fin-solutions-ltd-in-kolkata/86567/?source=offcampus" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>DawnBit | Freshers</td>
                    <td><a href="https://www.elitmus.com/jobs/32797-dawnbit-software-engineer-ncr-gurgaon?jobs_evaluation=2003" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Momentive | Freshers</td>
                    <td><a href=" https://momentive.wd1.myworkdayjobs.com/en-US/MC/job/IN-Chennai/Trainee--Manufacturing_R4234" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Qualcomm | Freshers</td>
                    <td><a href="https://qualcomm.wd5.myworkdayjobs.com/en-US/External/job/Hyderabad/Modem-Software-Application-Engineer_3006560" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Google | Freshers</td>
                    <td><a href="https://careers.google.com/jobs/results/105478586766369478-software-engineer-early-career-google-cloud-platform/" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>CrowdStrike | Freshers</td>
                    <td><a href="https://crowdstrike.wd5.myworkdayjobs.com/crowdstrikecareers/job/India---Remote-HR/Rust-Developer--Remote-_R2193" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Compliance Group | Freshers</td>
                    <td><a href="https://complianceg.com/careers/ats?jobId=H4G689I5f6pR&ft_source=2000186534&ft_medium=2000179624" style="color: #6ab8b8;">Apply!</a></td>
                </tr>
                <tr>
                    <!--intentionally left blank-->
                    <td></td>
                    <td>Urban Pro | Freshers</td>
                    <td><a href="https://www.elitmus.com/jobs/32763-urbanpro-com-thinkvidya-software-engineer-bangalore?jobs_evaluation=1954" style="color: #6ab8b8;">Apply!</a></td>
                </tr>

            </tbody>
        </table>
        <br>
        <a class="btn btn-danger" href="/logout" style="background-color: #6ab8b8; border-color: #6ab8b8;">Logout</a>

    </div>
    <br>
    <footer style="padding-top: 20em;">
        <p class="" style="background-color: black; color: white; text-align: center;">©
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>
            <a href="https://placements4u.github.io/Placement/index.html" style="text-decoration: none; color: #6ab8b8;">Placements4u </a>| All rights reserved<br> Designed and Developed by - <a href=" https://kishankr7979.github.io/portfolio/ " style="text-decoration: none; color: #6ab8b8;">Kishan</a>

        </p>
    </footer>
</body>

</html>